<!doctype html>
<html>
  <head>
    <title>Dog Adoption</title>
    <link rel="stylesheet"  type="text/css" href="http://localhost:8000/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    <h1>Dog Adoption and Fostering</h1>
    <a href="weather">
      <div class="weather-icon">
          <i class="fas fa-sun"></i>
      </div>
    </a>
    <div class="user-icon">
      <a href="/login">
          <i class="fas fa-user"></i>
      </a>
      
      <% if (loggedIn) { %>
        <a href="/logout"></a>
      <% } else { %>
          <a href="/login"></a>
      <% } %>
    </div>
    <div class="topnav">
    <a href="/">HOME</a>
    <div class="dropdown">
        <button class="dropbtn">
          MEET OUR DOGS
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/adoptdog">Dogs for adoption</a>
          <a href="/fosterdog">Dogs for fostering</a>
        </div>
    </div>
    <a href="/adoption">ADOPTION</a>
    <a href="/fostering">FOSTERING</a>
    <a href="/posts">OUR POSTS</a>
      <% if (loggedIn) { %>
        <a href="/queries">QUERIES</a>
      <% } else { %>
          <a href="/contact">CONTACT US</a>
      <% } %>
      <% if (loggedIn) { %>
          <a href="/addDog">ADD DOG</a>
      <% } %>
    <!-- Search Bar-->
      <div class="dropdown">
        <button class="dropbtn">
          SEARCH
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <form action="/search-result" method="get">
            <input type="text" name="keyword" placeholder="Search..." />
            <button type="submit">Go</button>
          </form>
        </div>
      </div>
  </div>
  <h2>Our Posts</h2>
  <h3>An opportunity to see our dogs</h3>
  <div class="posts-container">
    <!-- Display each post -->
    <% if (posts && posts.length > 0) { %>
      <% posts.forEach(post => { %>
        <div class="post">
          <h4><%= post.name %></h4>
          <a href="/dogs/<%= post.dogId %>"> <!-- Anchor tag for dog page -->
            <% if (post.image_path) { %>
              <img src="<%= post.image_path %>" alt="Post Image">
            <% } %>
          </a>
          <p><%= post.post_content %></p>
          <p>Added by: <%= post.addedByUsername %></p>
        </div>
      <% }); %>
    <% } else { %>
      <p>No posts found.</p>
    <% } %>
  </div>

  <!-- Add a button or link to navigate to the 'addpost' page -->
  <div class="button-container">
      <a href="/addpost"><button class="buy-button">Add New Post</button></a>
  </div>


  </body>
</html>